{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 style="margin-left:150px; margin-block:50px; color:red; font-size:30px">Create An Account</h1>

<div class="auth-form">
    <form method="POST" action="." style="margin-left:150px;margin-bottom: 150px;">
        {% csrf_token %}    
        {{form|crispy}}
        <input type="submit" value="Signup"  style="margin-block:50px;font-size:20px; border: 2px solid #eee;">
    </form>
</div>

{% endblock content %}